<div data-layer="CFG TWPO Home Catalog" class="CfgTwpoHomeCatalog w-[1280px] h-[2097px] relative bg-neutral-900">
  <div data-layer="Main" class="Main w-[1280px] max-w-[1400px] p-8 left-0 top-[73px] absolute inline-flex flex-col justify-start items-start gap-12">
    <div data-layer="Section" class="Section self-stretch relative bg-white/0 rounded-2xl shadow-2xl outline outline-1 outline-offset-[-1px] outline-zinc-500/20 flex flex-col justify-start items-start overflow-hidden">
      <img data-layer="Image" class="Image w-[1214px] h-[610px] left-[1px] top-[1px] absolute" src="/src/assets/Image-001.jpg" alt="Hero Image" />
      <div data-layer="Gradient" class="Gradient w-[1214px] h-[610px] left-[1px] top-[1px] absolute bg-gradient-to-r from-neutral-900 via-neutral-900/90 to-neutral-900/0"></div>
      <img data-layer="Image" class="Image w-96 h-[610px] left-[810.34px] top-[1px] absolute opacity-20 mix-blend-overlay" src="/src/assets/Background+Image-005.jpg" alt="Background Overlay" />
      <div data-layer="Container" class="Container w-[896px] h-[610px] max-w-[896px] min-h-[550px] relative">
        <div data-layer="Overlay+Border+OverlayBlur" class="OverlayBorderOverlayblur size- px-4 py-1.5 left-[64px] top-[48px] absolute bg-black/80 rounded-full outline outline-1 outline-offset-[-1px] outline-amber-500/30 backdrop-blur-[6px] inline-flex justify-start items-center gap-2">
          <div data-layer="Overlay+Shadow" class="OverlayShadow w-52 h-7 left-0 top-0 absolute bg-white/0 rounded-full shadow-[0px_4px_6px_-4px_rgba(0,0,0,0.50)] shadow-[0px_10px_15px_-3px_rgba(0,0,0,0.50)]"></div>
          <div data-layer="Background+Shadow" class="BackgroundShadow size-2 bg-green-500 rounded-full shadow-[0px_0px_8px_0px_rgba(30,216,56,1.00)]"></div>
          <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
            <div data-layer="distribuidor" class="Distribuidor w-36 h-4 justify-center text-white text-xs font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-wider">distribuidor</div>
          </div>
        </div>
        <div data-layer="Heading 1" class="Heading1 w-[768px] left-[64px] top-[102px] absolute inline-flex flex-col justify-start items-start">
          <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
            <div data-layer="máximo" class="mximo w-96 h-24 justify-center text-white text-8xl font-bold font-['Space_Grotesk'] uppercase leading-[96px] [text-shadow:_0px_2px_4px_rgb(0_0_0_/_0.30)]">máximo</div>
          </div>
          <div data-layer="Shadow" class="Shadow size- py-3 shadow-[0px_2px_10px_0px_rgba(223,32,26,0.50)] inline-flex justify-start items-start">
            <div data-layer="rendimiento" class="Rendimiento w-[620.17px] h-24 justify-center text-red-600 text-8xl font-bold font-['Space_Grotesk'] uppercase leading-[96px]">rendimiento</div>
          </div>
          <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
            <div data-layer="para cada máquina" class="ParaCadaMQuina w-[648px] h-14 justify-center text-white text-6xl font-bold font-['Space_Grotesk'] uppercase leading-[60px]">para cada máquina</div>
          </div>
        </div>
        <div data-layer="Margin" class="Margin w-[576px] max-w-[576px] pt-2 left-[64px] top-[394px] absolute inline-flex flex-col justify-start items-start">
          <div data-layer="VerticalBorder" class="Verticalborder w-full max-w-[576px] pl-4 border-l-4 border-yellow-500 flex flex-col justify-start items-start">
            <div data-layer="El catálogo de CFG Parts y TwPo Racing. Componentes diseñados para la calle y el circuito." class="ElCatLogoDeCfgPartsYTwpoRacingComponentesDiseAdosParaLaCalleYElCircuito w-[525.33px] h-14 justify-center"><span class="text-gray-400 text-xl font-medium font-['Space_Grotesk'] leading-7">El catálogo de </span><span class="text-white text-xl font-medium font-['Space_Grotesk'] leading-7">CFG Parts</span><span class="text-gray-400 text-xl font-medium font-['Space_Grotesk'] leading-7"> y </span><span class="text-white text-xl font-medium font-['Space_Grotesk'] leading-7">TwPo</span><span class="text-gray-400 text-xl font-medium font-['Space_Grotesk'] leading-7"> Racing.<br/>Componentes diseñados para la calle y el circuito.</span></div>
          </div>
        </div>
        <div data-layer="Container" class="Container w-[772.93px] pt-6 left-[59.07px] top-[482px] absolute inline-flex justify-start items-start gap-1.5">
          <div data-layer="Button:css-transform" class="ButtonCssTransform h-14 inline-flex flex-col justify-start items-start">
            <div data-layer="Button" class="Button h-14 px-7 bg-gradient-to-r from-red-600 to-red-700 rounded-xs shadow-[0px_4px_20px_0px_rgba(223,32,26,0.40)] inline-flex justify-start items-center">
              <div data-layer="Container" class="Container size- flex justify-start items-center gap-2">
                <div data-layer="Comprar para Motos" class="ComprarParaMotos w-36 h-7 text-center justify-center text-white text-lg font-bold font-['Space_Grotesk'] leading-7">Comprar para Motos</div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                  <div data-layer="Icon" class="Icon w-6 h-3.5 bg-white"></div>
                </div>
              </div>
            </div>
          </div>
          <div data-layer="Button:css-transform" class="ButtonCssTransform h-14 inline-flex flex-col justify-start items-start">
            <div data-layer="Button" class="Button h-14 px-7 bg-black rounded-xs outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex justify-start items-center">
              <div data-layer="Container" class="Container size- flex justify-start items-center gap-2">
                <div data-layer="Comprar Repuestos para Carros" class="ComprarRepuestosParaCarros w-48 h-7 text-center justify-center text-white text-lg font-bold font-['Space_Grotesk'] leading-7">Comprar Repuestos para Carros</div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                  <div data-layer="Icon" class="Icon size-4 bg-white"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-layer="Section" class="Section self-stretch flex flex-col justify-start items-start gap-6">
      <div data-layer="VerticalBorder" class="Verticalborder self-stretch pl-4 border-l-4 border-red-600 inline-flex justify-between items-end">
        <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
          <div data-layer="explorar Categorias" class="ExplorarCategorias w-96 h-10 justify-center"><span class="text-white text-4xl font-bold font-['Space_Grotesk'] uppercase leading-10">explorar </span><span class="text-zinc-500 text-4xl font-bold font-['Space_Grotesk'] uppercase">Categorias</span></div>
        </div>
        <div data-layer="Link" class="Link size- flex justify-start items-center gap-1">
          <div data-layer="Text" class="Text w-16 h-5 justify-center text-amber-500 text-sm font-bold font-['Space_Grotesk'] uppercase leading-5 tracking-tight">View All</div>
          <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
            <div data-layer="Icon" class="Icon w-1.5 h-2 bg-amber-500"></div>
          </div>
        </div>
      </div>
      <div data-layer="Container" class="Container self-stretch inline-flex justify-center items-start gap-6">
        <div data-layer="Link" class="Link flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-72 relative bg-neutral-800 overflow-hidden">
            <div data-layer="Background+Image" class="BackgroundImage size-72 left-0 top-0 absolute bg-blend-saturation bg-white"></div>
            <div data-layer="Gradient" class="Gradient size-72 left-0 top-0 absolute opacity-90 bg-linear-to-t from-black via-black/50 to-transparent"></div>
            <div data-layer="Overlay+HorizontalBorder+OverlayBlur" class="OverlayHorizontalborderOverlayblur w-72 p-4 left-0 top-[206px] absolute bg-black/80 border-t border-zinc-500/30 backdrop-blur-[2px] inline-flex flex-col justify-start items-start gap-0.5">
              <div data-layer="Heading 3" class="Heading3 self-stretch flex flex-col justify-start items-start">
                <div data-layer="motor" class="Motor self-stretch justify-center text-white text-lg font-bold font-['Space_Grotesk'] uppercase leading-7">motor</div>
              </div>
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
                <div data-layer="componentes" class="Componentes self-stretch justify-center text-gray-400 text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-wide">componentes</div>
              </div>
            </div>
            <div data-layer="Container" class="Container size- left-[255.90px] top-[8px] absolute opacity-0 inline-flex flex-col justify-start items-start">
              <div data-layer="Icon" class="Icon size-5 bg-amber-500"></div>
            </div>
          </div>
        </div>
        <div data-layer="Link" class="Link flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-72 relative bg-neutral-800 overflow-hidden">
            <div data-layer="Background+Image" class="BackgroundImage size-72 left-0 top-0 absolute bg-blend-saturation bg-white"></div>
            <div data-layer="Gradient" class="Gradient size-72 left-0 top-0 absolute opacity-90 bg-linear-to-t from-black via-black/50 to-transparent"></div>
            <div data-layer="Overlay+HorizontalBorder+OverlayBlur" class="OverlayHorizontalborderOverlayblur w-72 p-4 left-0 top-[206px] absolute bg-black/80 border-t border-zinc-500/30 backdrop-blur-[2px] inline-flex flex-col justify-start items-start gap-0.5">
              <div data-layer="Heading 3" class="Heading3 self-stretch flex flex-col justify-start items-start">
                <div data-layer="Suspension" class="Suspension self-stretch justify-center text-white text-lg font-bold font-['Space_Grotesk'] uppercase leading-7">Suspension</div>
              </div>
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
                <div data-layer="frenos y amortiguadores" class="FrenosYAmortiguadores self-stretch justify-center text-gray-400 text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-wide">frenos y amortiguadores</div>
              </div>
            </div>
            <div data-layer="Container" class="Container size- left-[256px] top-[8px] absolute opacity-0 inline-flex flex-col justify-start items-start">
              <div data-layer="Icon" class="Icon w-5 h-4 bg-amber-500"></div>
            </div>
          </div>
        </div>
        <div data-layer="Link" class="Link flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-72 relative bg-neutral-800 overflow-hidden">
            <div data-layer="Background+Image" class="BackgroundImage size-72 left-0 top-0 absolute bg-blend-saturation bg-white"></div>
            <div data-layer="Gradient" class="Gradient size-72 left-0 top-0 absolute opacity-90 bg-linear-to-t from-black via-black/50 to-transparent"></div>
            <div data-layer="Overlay+HorizontalBorder+OverlayBlur" class="OverlayHorizontalborderOverlayblur w-72 p-4 left-0 top-[206px] absolute bg-black/80 border-t border-zinc-500/30 backdrop-blur-[2px] inline-flex flex-col justify-start items-start gap-0.5">
              <div data-layer="Heading 3" class="Heading3 self-stretch flex flex-col justify-start items-start">
                <div data-layer="escape" class="Escape self-stretch justify-center text-white text-lg font-bold font-['Space_Grotesk'] uppercase leading-7">escape</div>
              </div>
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
                <div data-layer="sistemas completos" class="SistemasCompletos self-stretch justify-center text-gray-400 text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-wide">sistemas completos</div>
              </div>
            </div>
            <div data-layer="Container" class="Container size- left-[256px] top-[8px] absolute opacity-0 inline-flex flex-col justify-start items-start">
              <div data-layer="Icon" class="Icon w-5 h-4 bg-amber-500"></div>
            </div>
          </div>
        </div>
        <div data-layer="Link" class="Link flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-72 relative bg-neutral-800 overflow-hidden">
            <div data-layer="Background+Image" class="BackgroundImage size-72 left-0 top-0 absolute bg-blend-saturation bg-white"></div>
            <div data-layer="Gradient" class="Gradient size-72 left-0 top-0 absolute opacity-90 bg-linear-to-t from-black via-black/50 to-transparent"></div>
            <div data-layer="Overlay+HorizontalBorder+OverlayBlur" class="OverlayHorizontalborderOverlayblur w-72 p-4 left-0 top-[206px] absolute bg-black/80 border-t border-zinc-500/30 backdrop-blur-[2px] inline-flex flex-col justify-start items-start gap-0.5">
              <div data-layer="Heading 3" class="Heading3 self-stretch flex flex-col justify-start items-start">
                <div data-layer="ruedas" class="Ruedas self-stretch justify-center text-white text-lg font-bold font-['Space_Grotesk'] uppercase leading-7">ruedas</div>
              </div>
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
                <div data-layer="llantas y rines" class="LlantasYRines self-stretch justify-center text-gray-400 text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-wide">llantas y rines</div>
              </div>
            </div>
            <div data-layer="Container" class="Container size- left-[256px] top-[8px] absolute opacity-0 inline-flex flex-col justify-start items-start">
              <div data-layer="Icon" class="Icon size-5 bg-amber-500"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-layer="Section" class="Section self-stretch pb-12 flex flex-col justify-start items-start gap-6">
      <div data-layer="HorizontalBorder" class="Horizontalborder self-stretch pb-4 border-b border-zinc-500/30 inline-flex justify-start items-end">
        <div data-layer="Container" class="Container size- flex justify-start items-center gap-3">
          <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
            <div data-layer="Icon" class="Icon w-6 h-7 bg-red-600"></div>
          </div>
          <div data-layer="Container" class="Container w-80 inline-flex flex-col justify-start items-start gap-1">
            <div data-layer="Heading 2" class="Heading2 self-stretch flex flex-col justify-start items-start">
              <div data-layer="piezas destacadas" class="PiezasDestacadas w-72 h-9 justify-center text-white text-3xl font-bold font-['Space_Grotesk'] uppercase leading-9">piezas destacadas</div>
            </div>
            <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
              <div data-layer="Mejores calificaciones de esta semana" class="MejoresCalificacionesDeEstaSemana self-stretch h-5 justify-center text-gray-400 text-sm font-bold font-['Space_Grotesk'] uppercase leading-5 tracking-tight">Mejores calificaciones de esta semana</div>
            </div>
          </div>
        </div>
      </div>
      <div data-layer="Container" class="Container self-stretch inline-flex justify-center items-start gap-6">
        <div data-layer="Background+Border" class="BackgroundBorder flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-56 p-4 relative bg-neutral-800 inline-flex justify-center items-center overflow-hidden">
            <img data-layer="Image" class="Image w-72 h-56 left-0 top-0 absolute opacity-20" src="/src/assets/Background-004.jpg" alt="Background" />
            <div data-layer="Background+Shadow" class="BackgroundShadow size- px-2 py-0.5 left-[9.98px] top-[12px] absolute bg-green-500 shadow-[0px_0px_10px_0px_rgba(30,216,56,1.00)] inline-flex flex-col justify-start items-start">
              <div data-layer="Disponible" class="Disponible justify-center text-black text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-tight">Disponible</div>
            </div>
            <img data-layer="Brake disc rotor" class="BrakeDiscRotor size-40 max-w-72 relative shadow-[0px_20px_13px_0px_rgba(0,0,0,0.03)] shadow-[0px_8px_5px_0px_rgba(0,0,0,0.08)]" src="/src/assets/Brake disc rotor-007.jpg" alt="Brake Disc Rotor" />
            <div data-layer="Button" class="Button size- p-2 left-[239.33px] top-[12px] absolute opacity-0 bg-black/50 rounded-full backdrop-blur-[2px] inline-flex flex-col justify-center items-center">
              <div data-layer="Container" class="Container size- inline-flex justify-center items-start">
                <div data-layer="Icon" class="Icon size-4 bg-white"></div>
              </div>
            </div>
          </div>
          <div data-layer="Container" class="Container self-stretch flex-1 p-5 flex flex-col justify-between items-start">
            <div data-layer="Margin" class="Margin self-stretch pb-2 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-start items-center gap-1">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Margin" class="Margin size- pl-1 inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-7 h-4 justify-center text-gray-400 text-xs font-bold font-['Space_Grotesk'] leading-4">(4.8)</div>
                </div>
              </div>
            </div>
            <div data-layer="Heading 3:margin" class="Heading3Margin self-stretch h-7 relative">
              <div data-layer="Heading 3" class="Heading3 w-60 left-0 top-[-1px] absolute inline-flex flex-col justify-start items-start">
                <div data-layer="Carbon Ceramic Rotor Kit" class="CarbonCeramicRotorKit w-56 h-6 justify-center text-white text-lg font-bold font-['Space_Grotesk'] leading-6">Carbon Ceramic Rotor Kit</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch pb-4 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start overflow-hidden">
                <div data-layer="Kit de discos de freno de carbono-cerámica" class="KitDeDiscosDeFrenoDeCarbonoCerMica self-stretch justify-center text-gray-400 text-xs font-medium font-['Space_Grotesk'] leading-4">Kit de discos de freno de carbono-cerámica</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch flex-1 min-h-10 pt-6 flex flex-col justify-end items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-between items-center">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-20 h-7 justify-center text-white text-xl font-black font-['Space_Grotesk'] leading-7">$450.00</div>
                </div>
                <div data-layer="Button" class="Button size-10 relative bg-zinc-500/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 flex justify-center items-center">
                  <div data-layer="Button:shadow" class="ButtonShadow size-10 left-0 top-0 absolute bg-white/0 rounded-lg shadow-[0px_4px_6px_-4px_rgba(0,0,0,0.10)] shadow-lg"></div>
                  <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                    <div data-layer="Icon" class="Icon size-4 bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-layer="Background+Border" class="BackgroundBorder flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-56 p-4 relative bg-neutral-800 inline-flex justify-center items-center overflow-hidden">
            <img data-layer="Image" class="Image w-72 h-56 left-0 top-0 absolute opacity-20" src="/src/assets/Background-004.jpg" alt="Background" />
            <div data-layer="Background+Shadow" class="BackgroundShadow size- px-2 py-0.5 left-[9.98px] top-[12px] absolute bg-green-500 shadow-[0px_0px_10px_0px_rgba(30,216,56,1.00)] inline-flex flex-col justify-start items-start">
              <div data-layer="disponible" class="Disponible w-16 h-3.5 justify-center text-black text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-tight">disponible</div>
            </div>
            <img data-layer="Turbocharger" class="Turbocharger size-40 max-w-72 relative shadow-[0px_20px_13px_0px_rgba(0,0,0,0.03)] shadow-[0px_8px_5px_0px_rgba(0,0,0,0.08)]" src="/src/assets/Turbocharger-008.jpg" alt="Turbocharger" />
            <div data-layer="Button" class="Button size- p-2 left-[239.33px] top-[12px] absolute opacity-0 bg-black/50 rounded-full backdrop-blur-[2px] inline-flex flex-col justify-center items-center">
              <div data-layer="Container" class="Container size- inline-flex justify-center items-start">
                <div data-layer="Icon" class="Icon size-4 bg-white"></div>
              </div>
            </div>
          </div>
          <div data-layer="Container" class="Container self-stretch flex-1 p-5 flex flex-col justify-between items-start">
            <div data-layer="Margin" class="Margin self-stretch pb-2 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-start items-center gap-1">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Margin" class="Margin size- pl-1 inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-7 h-4 justify-center text-gray-400 text-xs font-bold font-['Space_Grotesk'] leading-4">(5.0)</div>
                </div>
              </div>
            </div>
            <div data-layer="Heading 3:margin" class="Heading3Margin self-stretch h-7 relative">
              <div data-layer="Heading 3" class="Heading3 w-60 left-0 top-[-1px] absolute inline-flex flex-col justify-start items-start">
                <div data-layer="Text" class="Text w-44 h-6 justify-center text-white text-lg font-bold font-['Space_Grotesk'] leading-6">Twin-Scroll Turbo T4</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch pb-4 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start overflow-hidden">
                <div data-layer="Turbo de doble entrada T4" class="TurboDeDobleEntradaT4 self-stretch justify-center text-gray-400 text-xs font-medium font-['Space_Grotesk'] leading-4">Turbo de doble entrada T4</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch flex-1 min-h-10 pt-6 flex flex-col justify-end items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-between items-center">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-24 h-7 justify-center text-white text-xl font-black font-['Space_Grotesk'] leading-7">$1,299.00</div>
                </div>
                <div data-layer="Button" class="Button size-10 relative bg-zinc-500/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 flex justify-center items-center">
                  <div data-layer="Button:shadow" class="ButtonShadow size-10 left-0 top-0 absolute bg-white/0 rounded-lg shadow-[0px_4px_6px_-4px_rgba(0,0,0,0.10)] shadow-lg"></div>
                  <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                    <div data-layer="Icon" class="Icon size-4 bg-white"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-layer="Background+Border" class="BackgroundBorder flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-56 p-4 relative bg-neutral-800 inline-flex justify-center items-center overflow-hidden">
            <img data-layer="Image" class="Image w-72 h-56 left-0 top-0 absolute opacity-20" src="/src/assets/Background-004.jpg" alt="Background" />
            <div data-layer="Background" class="Background size- px-2 py-0.5 left-[9.98px] top-[12px] absolute bg-zinc-500 inline-flex flex-col justify-start items-start">
              <div data-layer="agotado" class="Agotado w-12 h-3.5 justify-center text-white text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-tight">agotado</div>
            </div>
            <img data-layer="Motorcycle helmet" class="MotorcycleHelmet size-40 max-w-72 relative opacity-60" src="/src/assets/Motorcycle helmet-009.jpg" alt="Motorcycle Helmet" />
            <div data-layer="Button" class="Button size- p-2 left-[239.33px] top-[12px] absolute opacity-0 bg-black/50 rounded-full backdrop-blur-[2px] inline-flex flex-col justify-center items-center">
              <div data-layer="Container" class="Container size- inline-flex justify-center items-start">
                <div data-layer="Icon" class="Icon size-4 bg-white"></div>
              </div>
            </div>
          </div>
          <div data-layer="Container" class="Container self-stretch flex-1 p-5 opacity-75 flex flex-col justify-between items-start">
            <div data-layer="Margin" class="Margin self-stretch pb-2 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-start items-center gap-1">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-zinc-500"></div>
                </div>
                <div data-layer="Margin" class="Margin size- pl-1 inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-7 h-4 justify-center text-gray-400 text-xs font-bold font-['Space_Grotesk'] leading-4">(4.2)</div>
                </div>
              </div>
            </div>
            <div data-layer="Heading 3:margin" class="Heading3Margin self-stretch h-7 relative">
              <div data-layer="Heading 3" class="Heading3 w-60 left-0 top-[-1px] absolute inline-flex flex-col justify-start items-start">
                <div data-layer="Aero Carbon Helmet" class="AeroCarbonHelmet w-44 h-6 justify-center text-gray-400 text-lg font-bold font-['Space_Grotesk'] leading-6">Aero Carbon Helmet</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch pb-4 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start overflow-hidden">
                <div data-layer="Casco de carbono aerodinámico" class="CascoDeCarbonoAerodinMico self-stretch justify-center text-gray-400 text-xs font-medium font-['Space_Grotesk'] leading-4">Casco de carbono aerodinámico</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch flex-1 min-h-10 pt-6 flex flex-col justify-end items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-between items-center">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-20 h-7 justify-center text-zinc-500 text-xl font-bold font-['Space_Grotesk'] line-through leading-7">$350.00</div>
                </div>
                <div data-layer="Button" class="Button size-10 bg-zinc-500/10 rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500/30 flex justify-center items-center">
                  <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                    <div data-layer="Icon" class="Icon w-3.5 h-4 bg-white/30"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-layer="Background+Border" class="BackgroundBorder flex-1 self-stretch bg-black rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
          <div data-layer="Background" class="Background self-stretch h-56 p-4 relative bg-neutral-800 inline-flex justify-center items-center overflow-hidden">
            <img data-layer="Image" class="Image w-72 h-56 left-0 top-0 absolute opacity-20" src="/src/assets/Background-004.jpg" alt="Background" />
            <div data-layer="Background+Shadow" class="BackgroundShadow size- px-2 py-0.5 left-[9.98px] top-[12px] absolute bg-green-500 shadow-[0px_0px_10px_0px_rgba(30,216,56,1.00)] inline-flex flex-col justify-start items-start">
              <div data-layer="disponible" class="Disponible w-16 h-3.5 justify-center text-black text-[10px] font-bold font-['Space_Grotesk'] uppercase leading-4 tracking-tight">disponible</div>
            </div>
            <img data-layer="Spark plugs" class="SparkPlugs size-40 max-w-72 relative shadow-[0px_20px_13px_0px_rgba(0,0,0,0.03)] shadow-[0px_8px_5px_0px_rgba(0,0,0,0.08)]" src="/src/assets/Spark plugs-010.jpg" alt="Spark Plugs" />
            <div data-layer="Button" class="Button size- p-2 left-[239.33px] top-[12px] absolute opacity-0 bg-black/50 rounded-full backdrop-blur-[2px] inline-flex flex-col justify-center items-center">
              <div data-layer="Container" class="Container size- inline-flex justify-center items-start">
                <div data-layer="Icon" class="Icon size-4 bg-white"></div>
              </div>
            </div>
          </div>
          <div data-layer="Container" class="Container self-stretch flex-1 p-5 flex flex-col justify-between items-start">
            <div data-layer="Margin" class="Margin self-stretch pb-2 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch inline-flex justify-start items-center gap-1">
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                  <div data-layer="Icon" class="Icon w-3.5 h-3 bg-amber-500"></div>
                </div>
                <div data-layer="Margin" class="Margin size- pl-1 inline-flex flex-col justify-start items-start">
                  <div data-layer="Text" class="Text w-7 h-4 justify-center text-gray-400 text-xs font-bold font-['Space_Grotesk'] leading-4">(5.0)</div>
                </div>
              </div>
            </div>
            <div data-layer="Heading 3:margin" class="Heading3Margin self-stretch h-12 relative">
              <div data-layer="Heading 3" class="Heading3 w-60 pb-[0.75px] left-0 top-[-0.75px] absolute inline-flex flex-col justify-start items-start">
                <div data-layer="Text" class="Text w-48 h-11 justify-center text-white text-lg font-bold font-['Space_Grotesk'] leading-6">Iridium Spark Plugs (4-<br/>Pack)</div>
              </div>
            </div>
            <div data-layer="Margin" class="Margin self-stretch pb-4 flex flex-col justify-start items-start">
              <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start overflow-hidden">
                <div data-layer="Bujías de iridio" class="BujAsDeIridio self-stretch justify-center text-gray-400 text-xs font-medium font-['Space_Grotesk'] leading-4">Bujías de iridio</div>
              </div>
            </div>
            <div data-layer="Container" class="Container self-stretch inline-flex justify-between items-center">
              <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
                <div data-layer="Text" class="Text w-16 h-7 justify-center text-white text-xl font-black font-['Space_Grotesk'] leading-7">$85.99</div>
              </div>
              <div data-layer="Button" class="Button size-10 relative bg-zinc-500/20 rounded-lg outline outline-1 outline-offset-[-1px] outline-zinc-500 flex justify-center items-center">
                <div data-layer="Button:shadow" class="ButtonShadow size-10 left-0 top-0 absolute bg-white/0 rounded-lg shadow-[0px_4px_6px_-4px_rgba(0,0,0,0.10)] shadow-lg"></div>
                <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-center">
                  <div data-layer="Icon" class="Icon size-4 bg-white"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-layer="Footer" class="Footer w-[1280px] px-6 py-12 left-0 top-[1762.75px] absolute bg-black border-t border-zinc-500/30 inline-flex flex-col justify-start items-start gap-10">
    <div data-layer="Container" class="Container w-full max-w-[1400px] inline-flex justify-center items-start gap-10">
      <div data-layer="Container" class="Container flex-1 self-stretch inline-flex flex-col justify-start items-start gap-4">
        <div data-layer="Link" class="Link size- inline-flex justify-start items-center gap-3">
          <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
            <div data-layer="logo CFG blanco 1" class="LogoCfgBlanco1 w-12 h-10 relative overflow-hidden">
              <div data-layer="Vector" class="Vector w-12 h-7 left-[3px] top-[0.28px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector size-px left-[21.74px] top-[13.12px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector size-px left-[22.62px] top-[13.58px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-1.5 h-1 left-[7.84px] top-[7.40px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-4 h-2.5 left-[17.60px] top-[19.68px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-[4.82px] left-[37px] top-[30.47px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-1 left-[7.66px] top-[30.56px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[2.94px] h-px left-[10.58px] top-[31.75px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-1 left-[13.89px] top-[30.56px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-0.5 h-[1.43px] left-[17.86px] top-[31.81px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-1 left-[22.55px] top-[30.55px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[3.14px] h-px left-[25.45px] top-[31.73px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-1 left-[30.93px] top-[30.56px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-4 h-[3.03px] left-[8.10px] top-[36.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.72px] h-px left-[16.98px] top-[37.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.72px] h-px left-[8.73px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.72px] h-px left-[10.65px] top-[37.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.63px] h-[0.45px] left-[15.07px] top-[38.06px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.73px] h-px left-[18.95px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.62px] h-[0.46px] left-[22.13px] top-[38.05px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-0.5 h-[2.47px] left-[26.84px] top-[36.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.73px] h-px left-[27.48px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-1.5 h-[2.49px] left-[28.89px] top-[36.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-1 h-[2.49px] left-[34.92px] top-[36.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.73px] h-px left-[35.54px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-2 h-[2.49px] left-[38.87px] top-[36.45px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.71px] h-px left-[40.36px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.73px] h-px left-[42.33px] top-[37.46px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.62px] h-[0.46px] left-[45.53px] top-[38.05px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[0.86px] h-[2.37px] left-[4.19px] top-[36.54px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-[2.86px] h-0.5 left-[5.16px] top-[37.03px] absolute bg-red-600"></div>
              <div data-layer="Vector" class="Vector w-0.5 h-[2.45px] left-[24.12px] top-[37.05px] absolute bg-red-600"></div>
            </div>
          </div>
          <div data-layer="Vertical Divider:css-transform" class="VerticalDividerCssTransform h-12 py-2 inline-flex flex-col justify-center items-start">
            <div data-layer="Vertical Divider" class="VerticalDivider w-px h-8 origin-top-left rotate-12 bg-zinc-500/50"></div>
          </div>
          <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
            <img data-layer="logo TWPO sin fondo (1) 1" class="LogoTwpoSinFondo11 w-20 h-11" src="/src/assets/logo TWPO sin fondo (1) 1-003.png" alt="TWPO Logo" />
          </div>
        </div>
        <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start gap-2">
          <div data-layer="Description de la empresa" class="DescriptionDeLaEmpresa w-64 h-16 justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-6">Description de la empresa</div>
          <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
            <div data-layer="Importer & Distributor" class="ImporterDistributor self-stretch justify-center text-zinc-500 text-xs font-normal font-['Space_Grotesk'] leading-4">Importer & Distributor</div>
          </div>
        </div>
      </div>
      <div data-layer="Container" class="Container flex-1 self-stretch inline-flex flex-col justify-start items-start gap-3">
        <div data-layer="Heading 4" class="Heading4 self-stretch pl-2 border-l-2 border-red-600 flex flex-col justify-start items-start">
          <div data-layer="Text" class="Text w-10 h-5 justify-center text-white text-sm font-bold font-['Space_Grotesk'] uppercase leading-5 tracking-wide">Shop</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Motocicletas" class="Motocicletas self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Motocicletas</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Carros" class="Carros self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Carros</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Accessorios" class="Accessorios self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Accessorios</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Estrenos" class="Estrenos self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Estrenos</div>
        </div>
      </div>
      <div data-layer="Container" class="Container flex-1 self-stretch inline-flex flex-col justify-start items-start gap-3">
        <div data-layer="Heading 4" class="Heading4 self-stretch pl-2 border-l-2 border-red-600 flex flex-col justify-start items-start">
          <div data-layer="Text" class="Text w-16 h-5 justify-center text-white text-sm font-bold font-['Space_Grotesk'] uppercase leading-5 tracking-wide">Support</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Rastreo de pedido" class="RastreoDePedido self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Rastreo de pedido</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Devoluciones y cambios" class="DevolucionesYCambios self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Devoluciones y cambios</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Información de envío" class="InformaciNDeEnvO self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Información de envío</div>
        </div>
        <div data-layer="Link" class="Link self-stretch flex flex-col justify-start items-start">
          <div data-layer="Contacto" class="Contacto self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Contacto</div>
        </div>
      </div>
      <div data-layer="Container" class="Container flex-1 self-stretch inline-flex flex-col justify-start items-start gap-4">
        <div data-layer="Heading 4" class="Heading4 self-stretch pl-2 border-l-2 border-red-600 flex flex-col justify-start items-start">
          <div data-layer="Text" class="Text w-24 h-5 justify-center text-white text-sm font-bold font-['Space_Grotesk'] uppercase leading-5 tracking-wide">Newsletter</div>
        </div>
        <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start">
          <div data-layer="Únete para ofertas exclusivas y lanzamientos de productos" class="NeteParaOfertasExclusivasYLanzamientosDeProductos self-stretch justify-center text-gray-400 text-sm font-normal font-['Space_Grotesk'] leading-5">Únete para ofertas exclusivas y lanzamientos de productos</div>
        </div>
        <div data-layer="Container" class="Container self-stretch inline-flex justify-start items-start">
          <div data-layer="Input" class="Input flex-1 self-stretch px-3 py-2 bg-black rounded-tl-xs rounded-bl-xs border-l border-t border-b border-zinc-500 inline-flex flex-col justify-start items-start overflow-hidden">
            <div data-layer="Container" class="Container self-stretch flex flex-col justify-start items-start overflow-hidden">
              <div data-layer="Enter your email" class="EnterYourEmail self-stretch justify-center text-gray-500 text-sm font-normal font-['Space_Grotesk']">Enter your email</div>
            </div>
          </div>
          <div data-layer="Button" class="Button size- px-4 py-2 bg-red-600 rounded-tr-xs rounded-br-xs inline-flex flex-col justify-center items-center">
            <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
              <div data-layer="Icon" class="Icon w-4 h-4 bg-white"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-layer="Bottom Bar" class="BottomBar self-stretch pt-8 border-t border-zinc-500/30 inline-flex justify-between items-center">
      <div data-layer="Container" class="Container size- inline-flex flex-col justify-start items-start">
        <div data-layer="Text" class="Text w-72 h-4 justify-center text-zinc-500 text-xs font-normal font-['Space_Grotesk'] leading-4">© 2024 CFG TWPO. Todos los derechos reservados.</div>
      </div>
      <div data-layer="Container" class="Container size- flex justify-start items-center gap-4">
        <div data-layer="Icon" class="Icon w-4 h-4 bg-zinc-500"></div>
        <div data-layer="Icon" class="Icon w-4 h-4 bg-zinc-500"></div>
        <div data-layer="Icon" class="Icon w-4 h-4 bg-zinc-500"></div>
      </div>
    </div>
  </div>
</div>